body{
    font-family: Arial, sans-serif;
    background-color: hsl(0,0%,95%);
}

#container{
    
    background-color: hsl(0,0%,100%);
    text-align: center;
    max-width: 550px;
    margin: auto;
    border: solid;
    border-radius: 10px;
    border-color:aquamarine;
    padding: 25px;
    box-shadow: 5px 15px 15px aquamarine ;
}

h1{
    color: hsl(223, 100%, 64%);
}



label{
    
    font-weight: bold;
    font-size: 1.5rem;
}

button{
    background-color: hsl(160, 100%, 55%);
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color:hsl(160, 100%, 65%);
}

button:active{
   background-color:hsl(160, 100%, 75%);
}

input{
    font-size: 1.5rem;
    text-align: center;
    width: 150px;
    
}

#diceResult{
    margin: 25px;
}

#diceImages img{
    width: 90px;
}